# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# dotenv
.env

# Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS basura
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/

# Database local
*.sqlite
*.db
